manifest {
  name = 'nf-reads-profiler'
  author = 'Sunit Jain'
  homePage = 'https://github.com/fischbachlab/nf-profile-reads'
  description = 'Metaphlan and HUMANn'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = '0.0.2'
}

plugins {
  id 'nf-schema@2.0.0'
}

// includeConfig "$projectDir/conf/aws_batch.config"
// includeConfig "$projectDir/conf/azurebatch.config"

params {

    /* 	Containers
     --------------------------------*/
    docker_container_humann3 = "biobakery/humann:3.9"
    docker_container_metaphlan = "quay.io/biocontainers/metaphlan:4.1.0--pyhca03a8a_0"
    docker_container_multiqc = "quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0"
    docker_container_fastp = "quay.io/biocontainers/fastp:0.23.4--hadf994f_1"
    docker_container_aws = 'lightweightlabware/aws-cli-bash'
    docker_container_sra = 'lightweightlabware/sra-tools-bash'
    
    // AWS config
    aws_region = 'us-east-1'

    /* 	Execution flow parameters
     --------------------------------*/

    config_profile_name        = 'Default profile'
    config_profile_description = 'nf-profile-reads default workflow'

    /* 	Execution flow parameters
     --------------------------------*/

    singleEnd = false  //Whether we the input reads are single or paired-end
    mergeReads = false
    annotation = true
    rna = false
    cache = true
    project="analysis_20240506"
    prefix="output"
    input="az://nextflow-data/fetchngs/samplesheet/samplesheet.csv"
	  outdir="az://nextflow-analysis/workflows"
    rna = false       // Is the input data RNA? Requires "taxonomic_profile" to be set as well.
    taxonomic_profile = null    // <S3Path> Use in case metaphlan results are already available.
    annotation  = true  // whether annotation is enabled  or not

    /* 	Processing parameters
     --------------------------------*/

    //BowTie2 databases for MetaPhlAn
    metaphlan_index="mpa_vJun23_CHOCOPhlAnSGB_202307"
    metaphlan_db="/dbs/metagenometest/metagenome-dbs/metaphlan/metaphlan4/vJun23"
    bt2options="very-sensitive" //presets options for BowTie2

    // ChocoPhlAn and UniRef databases for HUMANn analysis
    chocophlan="/dbs/metagenometest/metagenome-dbs/humann/3.0/chocophlan/full/chocophlan"
    uniref="/dbs/metagenometest/metagenome-dbs/humann/3.0/uniref/uniref90_diamond/uniref"
    utility_mapping="/dbs/metagenometest/metagenome-dbs/humann/3.0/utility_mapping/utility_mapping"

    // Additional command line parameters
    humann_params=""

    // SRA download settings
    max_retry_count = 3
    max_parallel_downloads = 3

    // Limit size
    nreads = 20000000

    /* 	Initialisation
     --------------------------------*/


    //These are used to print version and help
    help = null
    version = null

    multiqc_config="$projectDir/conf/multiqc_config.yaml"
}


timeline {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/execution_reports/timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/execution_reports/report.html"
}

dag {
    enabled = true
    overwrite = true
    file = "$params.outdir/$params.project/execution_reports/pipeline_dag.html"
}

